<template>
  <v-container v-if='paid' fluid>
    <v-row class='ma-3 justify-center text-h4'>Расписание</v-row>
    <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
    >
      {{ message }}

      <template v-slot:actions>
        <v-btn
            :color="color"
            variant="text"
            @click="snackbar = false"
        >
          Закрыть
        </v-btn>
      </template>
    </v-snackbar>

    <v-date-picker
        v-model="date"
        title="Выберите рабочие дни"
        multiple="range"
        :allowed-dates="allowedDates"
        @update:modelValue="selectDates"
        class="mx-auto"
    ></v-date-picker>

    <v-sheet max-width='400' width='auto' class='mx-auto mt-3'>
      <v-form v-if="toggleTimeFrame" @submit.prevent='submitForm'>
        <v-select
            label="Вид услуги"
            :items="favors"
            item-title='name'
            v-model='selectedFavor'
            clearable
            return-object
        ></v-select>
        <v-text-field
            v-model='form.workBegin'
            :rules='form.workBeginRules'
            type='time'
            label='Начало рабочего дня'
        ></v-text-field>

        <v-text-field
            v-model='form.workEnd'
            :rules='form.workEndRules'
            type='time'
            label='Конец рабочего дня'
        ></v-text-field>

        <v-text-field
            v-model='form.duration'
            :rules='form.durationRules'
            type='number'
            label='Средняя продолжительность приема, мин'
        ></v-text-field>

        <v-text-field
            v-model='form.lunchBegin'
            :rules='form.lunchBeginRules'
            type='time'
            label='Время начала обеда'
        ></v-text-field>

        <v-text-field
            v-model='form.lunchEnd'
            :rules='form.lunchEndRules'
            type='time'
            label='Время конца обеда'
        ></v-text-field>

        <v-text-field
            v-model='form.breakTime'
            :rules='form.breakTimeRules'
            type='number'
            label='Время перерыва между приемами, мин'
        ></v-text-field>
        <v-btn color='primary' type='submit' block class='mt-2'>Сформировать</v-btn>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script>
import axios from 'axios';
import {useRoute} from 'vue-router';

export default {
  name: 'calendar-page',
  data() {
    return {
      snackbar: false,
      timeout: 5000,
      message: '',
      color: '',
      responseMap: new Map(),
      date: new Date(),
      route: useRoute(),
      paid: false,
      calendarSuccess: false,
      calendarFail: false,
      api_url: process.env.VUE_APP_API_URL + '/api',
      selectedDates: [],
      selectedFavor: null,
      toggleTimeFrame: false,
      form: {
        workBegin: null,
        workBeginRules: [
          value => {
            if (value) return true

            return 'Выберите время'
          },
        ],
        workEnd: null,
        workEndRules: [
          value => {
            if (value) return true

            return 'Выберите время'
          },
        ],
        duration: null,
        durationRules: [
          value => {
            if (value && value > 0) return true

            return 'Некорректное значение'
          },
        ],
        lunchBegin: null,
        lunchBeginRules: [
          value => {
            if (value) return true

            return 'Выберите время'
          },
        ],
        lunchEnd: null,
        lunchEndRules: [
          value => {
            if (value) return true

            return 'Выберите время'
          },
        ],
        breakTime: null,
        breakTimeRules: [
          value => {
            if (value && value >= 0) return true

            return 'Некорректное значение'
          },
        ],
      },
      favors: []
    }
  },
  watch: {
    selectedDates(val) {
      this.toggleTimeFrame = val.length > 0;
    },
  },
  methods: {
    async submitForm() {
      const {startDate, endDate} = this.prepareWorkRange();
      if (startDate && endDate && this.form.workBegin && this.form.workEnd && this.form.duration
          && this.form.lunchBegin && this.form.lunchEnd && this.form.breakTime) {
        this.form.currentDay = startDate
        this.form.lastDay = endDate
        this.form.favorId = this.selectedFavor?.id
        await axios.post(`${this.api_url}/appointments/build`, this.form)
            .then(() => {
              this.snackbar = true;
              this.message = 'Календарь успешно сформирован'
              this.color = 'success'
              this.form.currentDay = null
              this.form.lastDay = null
              this.form.workBegin = null
              this.form.workEnd = null
              this.form.duration = null
              this.form.lunchBegin = null
              this.form.lunchEnd = null
              this.form.breakTime = null
            })
            .catch(error => {
              this.snackbar = true;
              this.message = 'Проверьте дату и правильность вводимого времени'
              this.color = 'error'
              console.log(error);
            });
      }
    },
    selectDates(selectedRange) {
      this.selectedDates = selectedRange;
    },

    prepareWorkRange() {
      const firstElement = this.selectedDates.shift();
      let lastElement = this.selectedDates.pop();
      lastElement = lastElement === undefined ? firstElement : lastElement

      let startDateString = new Date(firstElement);
      startDateString.setDate(startDateString.getDate() + 1);
      startDateString = startDateString.toISOString();
      const startDate = startDateString.substring(0, startDateString.indexOf('T'));

      let endDateString = new Date(lastElement);
      endDateString.setDate(endDateString.getDate() + 1);
      endDateString = endDateString.toISOString();
      const endDate = endDateString.substring(0, startDateString.indexOf('T'));

      return {
        startDate,
        endDate
      }
    },
    allowedDates(val) {
      let date = this.$vuetify.date.toISO(val);
      axios.get(`${this.api_url}/appointments/day_available_for_use_in_calendar?date=${date}`)
          .then(response => {
            this.responseMap.set(date, response.data)
          })

      return this.responseMap.get(date) === true
    },
    async fetchFavors() {
      await axios.get(`${this.api_url}/favor/find-all`)
          .then(response => {
            this.favors = response.data
          })
          .catch(error => console.log(error))
    },
  },
  mounted() {
    this.fetchFavors()
  },
  async created() {
    this.$vuetify.locale.current = 'ru'
    await axios
        .get(`${this.api_url}/admin/${this.route.params.hash}`)
        .then(response => {
          this.paid = response.data.paid;
          this.$store.dispatch('setAdminData', response.data.hash)
        })
        .catch(error => {
          console.log(error + ', пользователь не существует')
        })
  }
}
</script>


<style scoped>

</style>