<template>
  <v-container v-if='paid' fluid>
    <v-row class='ma-3 justify-center text-h4 text-center'>Управление рассылкой сообщений</v-row>
    <v-card>
      <v-card-actions>
        <v-btn
            variant='text'
            :append-icon="showInstant ? '$up' : '$down'"
            @click='showInstant = !showInstant'
        >
          Мгновенная отправка
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show='showInstant'>
          <v-container fluid>
            <v-row>
              <v-col cols='4'>Мгновенная отправка</v-col>
              <v-divider
                  vertical
                  inset
                  class='border-opacity-50'
              ></v-divider>
              <v-col cols='8' class='text-center'>
                <v-sheet width='auto' class='mx-auto'>
                  <v-form @submit.prevent='submitSending'>
                    <v-combobox
                        v-model:search='searchInstant'
                        v-model='selectedUsers'
                        :items='usersArray'
                        label='Пользователь'
                        prepend-icon='$user'
                        multiple
                        required
                        hide-selected
                        hide-no-data
                        persistent-hint
                    >
                      <template v-slot:prepend-item>
                        <v-list-item
                            title='Выбрать всех'
                            @click='toggle'
                        >
                          <template v-slot:prepend>
                            <v-checkbox-btn
                                :color="oneUser ? 'indigo-darken-4' : undefined"
                                :indeterminate='oneUser && !allUsers'
                                :model-value='oneUser'
                            ></v-checkbox-btn>
                          </template>
                        </v-list-item>

                        <v-divider class='mt-2'></v-divider>
                      </template>
                    </v-combobox>

                    <v-textarea
                        v-model='message'
                        rows='4'
                        prepend-icon='$message'
                        label='Сообщение'
                        :rules='[v => !!v || "Введите сообщение"]'
                    ></v-textarea>
                    <v-file-input v-model='imageInstant' label='Выберите изображение'></v-file-input>
                    <v-btn color='primary' type='submit' class='mt-2'>Отправить</v-btn>
                  </v-form>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-expand-transition>
    </v-card>

    <v-card>
      <v-card-actions>
        <v-btn
            variant='text'
            :append-icon="showDelayed ? '$up' : '$down'"
            @click='showDelayed = !showDelayed'
        >
          Отложенная отправка
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show='showDelayed'>
          <v-container class='py-3' fluid>
            <v-row>
              <v-col cols='4'>Отложенная отправка</v-col>
              <v-divider
                  vertical
                  inset
                  class='border-opacity-50'
              ></v-divider>
              <v-col cols='8' class='text-center'>
                <v-container width='auto' class='d-block justify-start mx-auto py-2'>
                  <v-btn @click.prevent='showNotificationModal = true'>Напоминания</v-btn>
                </v-container>
                <v-container class='px-0 py-2'>
                  <v-btn @click.prevent='showBirthdayModal = true'>Дни рождения</v-btn>
                </v-container>
                <v-sheet width='auto' class='d-inline justify-space-between mx-auto' v-for='mailout in mailouts'
                         :key='mailout.id'>
                  <v-btn v-if='mailout.date' class='ma-3' @click.prevent='mailoutInfo(mailout)'>{{
                      mailout.date
                    }}
                  </v-btn>
                </v-sheet>
                <v-sheet width='auto' class='mx-auto'>
                  <v-form @submit.prevent='submitSendingMailout'>
                    <v-text-field
                        v-model='selectedDate'
                        type='date'
                        label='Дата отправки'
                        prepend-icon='$calendar'
                    ></v-text-field>
                    <v-combobox
                        v-model:search='searchDelay'
                        v-model='selectedUsersMailout'
                        :items='usersArrayMailout'
                        label='Пользователь'
                        prepend-icon='$user'
                        multiple
                        required
                        hide-selected
                        hide-no-data
                        persistent-hint
                    >
                      <template v-slot:prepend-item>
                        <v-list-item
                            title='Выбрать всех'
                            @click='toggleDelay'
                        >
                          <template v-slot:prepend>
                            <v-checkbox-btn
                                :color="oneUserDelay ? 'indigo-darken-4' : undefined"
                                :indeterminate='oneUserDelay && !allUsersDelay'
                                :model-value='oneUserDelay'
                            ></v-checkbox-btn>
                          </template>
                        </v-list-item>

                        <v-divider class='mt-2'></v-divider>
                      </template>
                    </v-combobox>

                    <v-textarea
                        v-model='messageMailout'
                        rows='4'
                        prepend-icon='$message'
                        label='Сообщение'
                        :rules='[v => !!v || "Введите сообщение"]'
                    ></v-textarea>

                    <v-file-input v-model='imageDelay' label='Выберите изображение'></v-file-input>

                    <v-btn color='primary' type='submit' class='mt-2'>Отправить</v-btn>
                  </v-form>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-expand-transition>
    </v-card>

    <v-container v-if='!showDelayed && !showInstant' class='mx-0'>
      <v-container class='px-0 py-2'>
        <v-btn @click.prevent='showNotificationModal = true'>Напоминания</v-btn>
      </v-container>
      <v-container class='px-0 py-2'>
        <v-btn @click.prevent='showBirthdayModal = true'>Дни рождения</v-btn>
      </v-container>
      <v-sheet width='auto' class='d-inline justify-space-between mx-auto' v-for='mailout in mailouts'
               :key='mailout.id'>
        <v-btn v-if='mailout.date' class='ma-3' @click.prevent='mailoutInfo(mailout)'>{{ mailout.date }}</v-btn>
      </v-sheet>
    </v-container>


    <v-container fluid>
      <v-dialog v-model='showMailoutModal' width='auto' persistent>
        <v-card
            max-width='500'
            min-height='auto'
            max-height='auto'
        >

          <v-card-item title='Информация'>
            <template v-slot:append>
              <v-text-field
                  v-model='formatDate'
                  type='date'
                  label='Дата отправки'
                  prepend-icon='$calendar'
              ></v-text-field>
            </template>
          </v-card-item>

          <v-card-item>
            <template v-slot:append>
              <v-btn @click.prevent='deleteMailout()'>Удалить рассылку</v-btn>
            </template>
          </v-card-item>

          <v-card-item>
            <template v-slot:subtitle>
              <v-text-field
                  prepend-icon='$message'
                  v-model='selectedMailout.message'
                  type='text'
              ></v-text-field>
            </template>
          </v-card-item>

          <v-card-item>
            <v-file-input v-if='!selectedMailout.imageData' v-model='selectedMailoutImage'
                          label='Выберите изображение'></v-file-input>
            <v-row>
              <v-col cols='4'>
                <v-img
                    v-if='selectedMailout.imageData'
                    width='100'
                    aspect-ratio='16/9'
                    cover
                    :src='convertInImage(selectedMailout.imageData)'
                    @click='openFilePicker'
                ></v-img>

              </v-col>
              <v-col cols='8' class='px-0'>
                <v-btn v-if='selectedMailout.imageData' @click.prevent='removeImage(selectedMailout)'>Удалить
                  изображение
                </v-btn>
              </v-col>
            </v-row>

          </v-card-item>

          <v-card-item>
            <v-btn @click='showUsers = !showUsers'>Показать пользователей</v-btn>

            <v-expand-transition>
              <div v-show='showUsers'>
                <v-card-text>
                  <v-list lines='one'>
                    <v-list-item
                        v-for='user in usersInMailout.users'
                        :key='user.id'
                    >
                      <v-row>
                        <v-col cols='6'>
                          <v-list-item-title>{{ user.name }}</v-list-item-title>
                        </v-col>
                        <v-col cols='6' class='text-end'>
                          <v-btn prepend-icon='$delete' size='small'
                                 @click.prevent='deleteUserFromMailout(user)'></v-btn>
                        </v-col>
                      </v-row>
                      <v-divider/>
                    </v-list-item>
                  </v-list>
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card-item>

          <v-card-item>
            <v-btn @click='addUsers'>Добавить пользователей</v-btn>

            <v-expand-transition>
              <div v-show='showUsersToAdd'>
                <v-card-text>
                  <v-list lines='one'>
                    <v-list-item
                        v-for='user in usersToAdd'
                        :key='user.id'
                    >
                      <v-row>
                        <v-col cols='6'>
                          <v-list-item-title>{{ user.name }}</v-list-item-title>
                        </v-col>
                        <v-col cols='6' class='text-end'>
                          <v-btn @click.prevent='addUserToMailout(user)' prepend-icon='$add' size='small'></v-btn>
                        </v-col>
                      </v-row>
                      <v-divider/>
                    </v-list-item>
                  </v-list>
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card-item>


          <v-card-actions>
            <v-spacer/>
            <v-btn color='primary' @click='closeMailoutModal'>
              Выйти
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-dialog v-model='showNotificationModal' width='auto' persistent>
      <v-card
          max-width='500'
          min-height='auto'
          max-height='auto'
          prepend-icon='$bell'
      >
        <template v-slot:title>
          Настройка уведомлений о записях
        </template>

        <v-card-item>
          <div>
            <v-text-field v-model='notificationMessage' label='Введите сообщение'></v-text-field>
          </div>
        </v-card-item>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color='primary' @click.prevent='closeNotificationModal()'>
            Выйти
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model='showBirthdayModal' width='auto' persistent>
      <v-card
          max-width='500'
          min-height='auto'
          max-height='auto'
          prepend-icon='$bell'
      >
        <template v-slot:title>
          Настройка уведомлений о днях рождения
        </template>

        <v-card-item>
          <div>
            <v-text-field v-model='birthdayNotificationMessage' label='Введите сообщение'></v-text-field>
          </div>

          <div>
            <v-file-input v-model='selectedMailoutImageForBirthday'
                          label='Выберите изображение'></v-file-input>
          </div>

          <div>
            <v-img
                v-if='birthdayNotificationImage'
                width='100'
                aspect-ratio='16/9'
                cover
                :src='convertInImage(birthdayNotificationImage)'
            ></v-img>
          </div>

        </v-card-item>

        <v-card-item>

          <div>
            <v-btn v-if='birthdayNotificationImage' @click.prevent='removeBirthdayImage'>Удалить изображение</v-btn>
          </div>
        </v-card-item>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color='primary' @click.prevent='closeBirthdayNotificationModal()'>
            Выйти
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>
<script>
import axios from 'axios';
import {useRoute} from 'vue-router';

export default {
  name: 'distribute-page',
  data() {
    return {
      route: useRoute(),
      api_url: process.env.VUE_APP_API_URL + '/api',
      paid: false,
      users: [],
      selectedUsers: [],
      selectedUsersMailout: [],
      message: '',
      messageMailout: '',
      selectedDate: null,
      showMailouts: false,
      mailouts: [],
      showMailoutModal: false,
      selectedMailout: {},
      showUsers: false,
      showUsersToAdd: false,
      usersInMailout: {},
      usersToAdd: [],
      showNotificationModal: false,
      notificationMessage: '',
      showInstant: false,
      showDelayed: false,
      searchDelay: null,
      searchInstant: null,
      imageInstant: null,
      imageDelay: null,
      newImage: null,
      selectedMailoutImage: null,
      showBirthdayModal: false,
      birthdayNotificationMessage: '',
      selectedMailoutImageForBirthday: null,
      birthdayNotificationImage: null
    }
  },
  async created() {
    await axios
        .get(`${this.api_url}/admin/${this.route.params.hash}`)
        .then(response => {
          this.paid = response.data.paid;
          this.$store.dispatch('setAdminData', response.data.hash)
        })
        .catch(error => {
          console.log(error + ', пользователь не существует')
        })
  },
  watch: {
    selectedMailoutImage(val) {
      if (val.length !== 0) {
        let formData = new FormData();
        formData.append('image', val[0]);
        axios.put(`${this.api_url}/mailout/upload/${this.selectedMailout.id}`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
            .then(response => {
              this.selectedMailout = response.data
            });
      }
    },

    selectedMailoutImageForBirthday(val) {
      console.log(val);
      if (val.length !== 0) {
        let formData = new FormData();

        formData.append('image', val[0]);

        axios.put(`${this.api_url}/mailout/upload/2`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
            .then(response => {
              this.birthdayNotificationImage = response.data.imageData
            })
      }

    }
  },

  methods: {
    async fetchUsers() {
      await axios.get(`${this.api_url}/users`)
          .then(response => {
            this.users = response.data
          })
    },

    async fetchBirthdayNotification() {
      await axios.get(`${this.api_url}/mailout/find/2`)
          .then(response => {
            this.birthdayNotificationMessage = response.data.message
            this.birthdayNotificationImage = response.data.imageData
          })
    },

    async submitSending() {
      const split = this.selectedUsers.map(selectedUser => selectedUser.split(' ')[0]);
      const users = this.users.filter(user => split.includes(user.name));

      const jsonToSend = {
        message: this.message,
        users: users
      }

      let formData = new FormData();
      if (this.imageInstant) {
        formData.append('image', this.imageInstant[0]);
      }

      formData.append('distributionRequestDto', JSON.stringify(jsonToSend))

      if (this.message && users.length > 0) {
        await axios.post(`${this.api_url}/users/sendMessage`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
            .then(() => {
              this.message = ''
              this.selectedUsers.length = 0
              this.imageInstant = null
            })
            .catch(error => console.log(error));
      }
    },

    async submitSendingMailout() {
      const users = this.users.filter(user => this.selectedUsersMailout.includes(user.name));

      const jsonToSend = {
        message: this.messageMailout,
        users: users,
        date: this.selectedDate
      }

      let formData = new FormData();
      if (this.imageDelay) {
        formData.append('image', this.imageDelay[0]);
      }

      formData.append('mailoutRequestDto', JSON.stringify(jsonToSend))

      if (this.messageMailout && this.selectedDate) {
        await axios.post(`${this.api_url}/mailout/create`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
            .then(response => {
              this.messageMailout = ''
              this.selectedUsersMailout.length = 0
              this.selectedDate = null
              this.imageDelay = null
              this.mailouts.push(response.data)
            })
            .catch(error => console.log(error));
      }
    },

    async fetchMailouts() {
      await axios.get(`${this.api_url}/mailout/findAll`)
          .then(response => {
            if (response.data.length !== 0) {
              this.showMailouts = true;
              this.mailouts = response.data
            }
          })
          .catch(error => console.log(error))
    },

    async mailoutInfo(mailout) {
      this.showMailoutModal = true;
      this.selectedMailout = mailout;
      await axios.get(`${this.api_url}/mailout/find/${mailout.id}`)
          .then(response => {
            this.usersInMailout = response.data
          })
    },

    async addUsers() {
      await axios.get(`${this.api_url}/mailout/users/${this.selectedMailout.id}`)
          .then(response => {
            this.usersToAdd = response.data
          })
      this.showUsersToAdd = !this.showUsersToAdd;
    },

    async closeMailoutModal() {
      const jsonToSend = {
        message: this.editMessage,
        date: this.formatDate,
        users: []
      }
      await axios.put(`${this.api_url}/mailout/update/${this.selectedMailout.id}`, jsonToSend)
          .then(response => {
            const index = this.mailouts.findIndex(m => m.id === this.selectedMailout.id);
            this.mailouts.splice(index, 1, response.data)
            this.showMailoutModal = false
            this.showUsers = false
            this.showUsersToAdd = false
          })
    },

    async deleteUserFromMailout(user) {
      await axios.put(`${this.api_url}/mailout/removeUser/${user.id}/${this.selectedMailout.id}`)
          .then(response => {
            this.usersInMailout = response.data
            this.usersToAdd.push(user)
          })
          .catch(error => console.log(error))
    },

    async addUserToMailout(user) {
      await axios.put(`${this.api_url}/mailout/addUser/${user.id}/${this.selectedMailout.id}`)
          .then(response => {
            this.usersInMailout = response.data
            const index = this.usersToAdd.findIndex(userInArray => userInArray.id === user.id);
            this.usersToAdd.splice(index, 1)
          })
          .catch(error => console.log(error))
    },

    async deleteMailout() {
      await axios.delete(`${this.api_url}/mailout/delete/${this.selectedMailout.id}`)
          .then(() => {
            const index = this.mailouts.findIndex(m => m.id === this.selectedMailout.id);
            this.mailouts.splice(index, 1)
            this.showMailoutModal = false
            this.showUsers = false
            this.showUsersToAdd = false
          })
    },

    async closeNotificationModal() {
      await axios.put(`${this.api_url}/mailout/update/1`, {
        message: this.notificationMessage,
        users: []
      })
          .catch(error => console.log(error))

      this.showNotificationModal = false;
    },

    async closeBirthdayNotificationModal() {
      await axios.put(`${this.api_url}/mailout/update/2`, {
        message: this.birthdayNotificationMessage,
        users: []
      })
          .catch(error => console.log(error))

      this.showBirthdayModal = false;
    },

    async fetchNotificationMessage() {
      await axios.get(`${this.api_url}/mailout/find/1`)
          .then(response => this.notificationMessage = response.data.message)
          .catch(error => console.log(error))
    },

    toggle() {
      if (this.allUsers) {
        this.selectedUsers = []
      } else {
        this.selectedUsers = this.usersArray.slice()
      }
    },

    toggleDelay() {
      if (this.allUsersDelay) {
        this.selectedUsersMailout = []
      } else {
        this.selectedUsersMailout = this.usersArrayMailout.slice()
      }
    },

    convertInImage(data) {
      return 'data:image/jpg;base64,' + data;
    },

    openFilePicker() {
      const input = document.createElement('input');
      input.type = 'file';
      input.accept = 'image/*';
      input.addEventListener('change', this.handleFileSelected);
      input.click();
    },

    handleFileSelected(event) {
      this.newImage = event.target.files[0];

      let formData = new FormData();
      formData.append('image', this.newImage)

      axios.put(`${this.api_url}/mailout/upload/${this.selectedMailout.id}`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
          .then(response => {
            this.selectedMailout.imageData = response.data.imageData
          })
          .catch(error => console.log(error))
    },

    async removeImage(selectedMailout) {
      await axios.delete(`${this.api_url}/mailout/delete_image/${selectedMailout.id}`)
          .then(response => {
            this.selectedMailout.imageData = response.data.imageData
          })
    },

    async removeBirthdayImage() {
      await axios.delete(`${this.api_url}/mailout/delete_image/2`)
          .then(() => {
            this.birthdayNotificationImage = null
          })
    },
  },
  async mounted() {
    await this.fetchUsers();
    await this.fetchMailouts();
    await this.fetchNotificationMessage();
    await this.fetchBirthdayNotification();
  },
  computed: {
    oneUser() {
      return this.selectedUsers.length > 0
    },

    oneUserDelay() {
      return this.selectedUsersMailout.length > 0
    },

    allUsers() {
      return this.selectedUsers.length === this.usersArray.length
    },

    allUsersDelay() {
      return this.selectedUsersMailout.length === this.usersArrayMailout.length
    },

    usersArray() {
      return this.users.map(o => o.name)
    },

    usersArrayMailout() {
      return this.users.map(o => o.name)
    },

    formatDate: {
      get() {
        const split = this.selectedMailout.date.split('.');

        return `${split[2]}-${split[1]}-${split[0]}`
      },

      set(newValue) {
        const split = newValue.split('-');

        this.selectedMailout.date = `${split[2]}.${split[1]}.${split[0]}`
      },
    },

    editMessage: {
      get() {
        return this.selectedMailout.message
      },

      set(newValue) {
        this.selectedMailout.message = newValue
      }
    },
  },
}
</script>


<style scoped>

</style>