<template>
  <v-container v-if='paid' fluid>
    <v-skeleton-loader :loading='isLoading' type='article'>
      <v-row align='center' justify='center'>
        <v-col
            v-for='favor in favors'
            :key='favor.id'
            cols='auto'
        >
          <v-card
              variant='elevated'
              class='mx-auto'
              width='300'
              height='200'
              color='secondary'
              elevation='16'
          >
            <v-card-item>
              <div class='my-3'>
                <div class='text-h6 mb-1'>
                  {{ favor.name }}
                </div>
                <div class='text-caption'>{{ favor.description }}</div>
              </div>
              <v-divider class='border-opacity-25'></v-divider>
              <div class='d-flex justify-space-between mt-3'>
                <span class='text-caption'>Стоимость</span>
                <span class='text-caption'>{{ favor.cost }} ₽</span>
              </div>
            </v-card-item>

            <v-card-actions>
              <v-spacer/>
              <v-btn @click.prevent='changeFavorStatus(favor.id)'>
                {{ favor.isActive ? 'В архив' : 'Активировать' }}
              </v-btn>
              <v-btn @click.prevent='editFavor(favor)'>
                Изменить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-skeleton-loader>
    <v-container fluid>
      <v-dialog v-model='showFavorToEditDialog' width='auto'>
        <v-card text='Обновить услугу'
                color='secondary'
                elevation='16'>
          <v-card-item>
            <v-sheet class='mx-auto' width='auto' color='secondary'>
              <v-form>
                <v-text-field
                    v-model='favorToEdit.name'
                    label='Название услуги'
                ></v-text-field>
                <v-text-field
                    v-model='favorToEdit.description'
                    label='Описание услуги'
                ></v-text-field>
                <v-text-field
                    v-model='favorToEdit.cost'
                    label='Стоимость'
                    type='number'
                ></v-text-field>
                <v-select
                    v-model='isActiveForUser'
                    :items='items'
                    label='Активна?'
                    color='secondary'
                ></v-select>
              </v-form>
            </v-sheet>
          </v-card-item>
          <v-card-actions class='justify-center'>
            <v-btn @click='updateFavor'>Обновить</v-btn>
            <v-btn @click='showFavorToEditDialog = false'>Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-container fluid>
      <v-dialog v-model='showFavorToAddDialog' width='auto'>
        <v-card text='Создать новую услугу'
                color='secondary'
                elevation='16'>
          <v-card-item>
            <v-sheet class='mx-auto' width='auto' color='secondary'>
              <v-form>
                <v-text-field
                    v-model='newFavor.name'
                    label='Название услуги'
                ></v-text-field>
                <v-text-field
                    v-model='newFavor.description'
                    label='Описание услуги'
                ></v-text-field>
                <v-text-field
                    v-model='newFavor.cost'
                    label='Стоимость'
                    type='number'
                ></v-text-field>
                <v-select
                    v-model='newFavor.isActive'
                    :items='items'
                    label='Активна?'
                    color='secondary'
                ></v-select>
              </v-form>
            </v-sheet>
          </v-card-item>
          <v-card-actions class='justify-center'>
            <v-btn @click='createFavor'>Создать</v-btn>
            <v-btn @click='showFavorToAddDialog = false'>Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-container fluid>
      <v-bottom-navigation>
        <v-btn icon='$add' @click='showFavorToAddDialog = true'>
        </v-btn>
      </v-bottom-navigation>
    </v-container>
  </v-container>
</template>
<script>
import axios from 'axios';
import {useRoute} from 'vue-router';

export default {
  name: 'favor-page',
  data() {
    return {
      paid: false,
      route: useRoute(),
      api_url: process.env.VUE_APP_API_URL + '/api',
      favors: [],
      isLoading: false,
      favorToEdit: {},
      newFavor: {},
      showFavorToEditDialog: false,
      showFavorToAddDialog: false,
      items: ['Да', 'Нет']
    }
  },
  methods: {
    async fetchFavors() {
      this.isLoading = true
      await axios.get(`${this.api_url}/favor/find-all`)
          .then(response => {
            this.favors = response.data
            this.isLoading = false
          })
          .catch(error => console.log(error))
    },
    async changeFavorStatus(id) {
      await axios.get(`${this.api_url}/favor/changeStatus/${id}`)
          .then(response => {
            let favorToUpdate = this.favors.find(favor => favor.id === response.data.id)
            favorToUpdate.isActive = response.data.isActive
            let index = this.favors.findIndex(favorInArray => favorInArray.id === favorToUpdate.id);
            this.favors.splice(index, 1, favorToUpdate)
          })
          .catch(error => console.log(error))
    },
    editFavor(favor) {
      this.favorToEdit = {
        id: favor.id,
        name: favor.name,
        description: favor.description,
        cost: favor.cost,
        isActive: favor.isActive
      }
      this.showFavorToEditDialog = true;
    },
    async updateFavor() {
      await axios.post(`${this.api_url}/favor/create-or-update`, this.favorToEdit)
          .then(response => {
            const index = this.favors.findIndex(favorInArray => favorInArray.id === response.data.id);
            this.favors.splice(index, 1, response.data)
            this.showFavorToEditDialog = false;
          })
          .catch(error => console.log(error))
    },
    async createFavor() {
      if (this.newFavor.cost && this.newFavor.description && this.newFavor.isActive && this.newFavor.name) {
        this.newFavor.isActive = this.newFavor.isActive === "Да"
        await axios.post(`${this.api_url}/favor/create-or-update`, this.newFavor)
            .then(response => {
              this.favors.push(response.data)
              this.showFavorToAddDialog = false;
            })
            .catch(error => console.log(error));
      }
    },
  },
  async mounted() {
    await axios.get(`${this.api_url}/admin/${this.route.params.hash}`)
        .then(response => {
          this.paid = response.data.paid;
          this.$store.dispatch('setAdminData', response.data.hash)
        })
        .catch(error => {
          console.log(error + ', пользователь не существует')
        })

    await this.fetchFavors();
  },
  computed: {
    isActiveForUser: {
      get() {
        return this.favorToEdit.isActive ? 'Да' : 'Нет'
      },
      set(val) {
        val === 'Да' ? this.favorToEdit.isActive = true : this.favorToEdit.isActive = false
      }
    },
  }
}
</script>


<style scoped>

</style>