<template>
  <v-container v-if='paid' fluid>
    <v-row class='ma-3 justify-center text-h4'>Записи</v-row>
    <v-data-table-server
        v-model:items-per-page='itemsPerPage'
        :headers='headers'
        :items-length='totalItems'
        :items='serverItems'
        :loading='loading'
        :search='search'
        @update:options='getAppointments'
        :items-per-page-options='itemsPerPageDefaultOption'
        show-current-page
        hover
        items-per-page-text='Записей на странице'
        no-data-text='Ничего не найдено'
        v-model='selectedItems'
        return-object
        density='comfortable'
    >
      <template v-slot:top>
        <v-card-title>
          <v-row>
            <v-col>
              <v-text-field
                  v-model='name'
                  append-icon='$search'
                  label='Имя'
                  single-line
                  hide-details
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                  v-model='visitDateTime'
                  append-icon='$search'
                  label='Время визита'
                  single-line
                  hide-details
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row v-if='selectedItems.length > 0'>
            <v-col>
              <v-btn @click.prevent='deleteSelectedAppointments'>Удалить</v-btn>
            </v-col>
            <v-select
                label='Услуга'
                :items="favors"
                v-model='selectedFavorForAppointments'
                @update:model-value='updateSelectedAppointmentsFavor'
                variant='underlined'
                density='default'
                item-title='name'
                hide-details
                clearable
                return-object
            ></v-select>
          </v-row>
        </v-card-title>
      </template>
      <template v-slot:body='{items, columns}'>
        <tr v-for='item in items' :key='item.id'>
          <td v-for='column in columns' :key='column.key' class='text-center pa-0'>
            <v-checkbox-btn
                v-if="column.value === 'data-table-select'"
                v-model='selectedItems'
                :value='item'
            ></v-checkbox-btn>
            <v-btn v-if="column.key === 'userId'" :disabled='item.userId === -1'
                   @click.prevent='showUserInfo(item.userId)' size='small'>
              {{ item.userId === -1 ? '-' : item.name }}
            </v-btn>
            <span v-if="column.key === 'visitDateTime'">
              {{ item.visitDateTime }}
            </span>
            <v-container class='d-flex justify-center' v-if="column.key === 'actions'">
              <v-btn :disabled='isWritable(item)' icon='$writeUser' size='x-small'
                     variant='text' @click='openWriteUserModal(item)'/>
              <v-btn icon='$edit' size='x-small'
                     variant='text' @click='editAppointment(item)'/>
              <v-btn icon='$delete' size='x-small'
                     variant='text' @click='openDeleteModal(item)'/>
            </v-container>
            <v-select
                v-if="column.key === 'type'"
                label='Услуга'
                :items="favors"
                variant='underlined'
                density='default'
                v-model='item.favor'
                @update:model-value='updateAppointmentsFavor(item)'
                item-title='name'
                hide-details
                hide-no-data
                clearable
                return-object
            ></v-select>
          </td>
        </tr>
      </template>
    </v-data-table-server>
    <v-container fluid>
      <v-dialog v-model='showModal' width='auto'>
        <v-card text='Перенести запись'>
          <v-card-text>
            <v-text-field
                prepend-icon='$calendar'
                v-model='appointmentToEdit.visitDateTime'
                type='datetime-local'
            ></v-text-field>
          </v-card-text>
          <v-card-actions class='justify-center'>
            <v-btn color='primary' @click='updateAppointment'>Изменить</v-btn>
            <v-btn color='primary' @click='showModal = false'>Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-container fluid>
      <v-dialog v-model='deleteModal' width='auto'>
        <v-card text='Удалить запись'>
          <v-card-text>
            <v-card-item
                prepend-icon='$delete'
            >
              Вы уверены?
            </v-card-item>
          </v-card-text>
          <v-card-actions class='justify-center'>
            <v-btn color='primary' @click='deleteAppointment'>Удалить</v-btn>
            <v-btn color='primary' @click='deleteModal = false'>Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-container fluid>
      <v-dialog v-model='writeUserModal' width='auto'>
        <v-card text='Записать клиента'>
          <v-card-item>
            <v-form @submit.prevent='writeUser' fast-fail>
              <v-text-field
                  prepend-icon='$phone'
                  v-model='phoneNumber'
                  :rules='phoneNumberRules'
                  label='Номер телефона'
              ></v-text-field>
              <v-card-actions class='justify-center'>
                <v-btn type='submit' color='primary'>Сохранить</v-btn>
                <v-btn color='primary' @click='closeWriteUserModal()'>Закрыть</v-btn>
              </v-card-actions>
            </v-form>
          </v-card-item>
        </v-card>
      </v-dialog>
    </v-container>
    <v-container fluid>
      <v-dialog v-model='showUserModal' width='auto'>
        <v-card
            max-width='500'
        >
          <v-card-item :title='selectedUser.name'>

            <template v-slot:subtitle>
              <v-icon
                  icon='$cellphone'
                  size='18'
                  class='me-1 '
              ></v-icon>

              {{ selectedUser.phoneNumber }}
            </template>
          </v-card-item>

          <v-card-item>

            <template v-slot:subtitle>
              <v-icon
                  icon='$birthday'
                  size='18'
                  class='me-1 '
              >
              </v-icon>
              {{ selectedUser.monthOfBirth }}, {{ selectedUser.dayOfBirth }}
            </template>
          </v-card-item>

          <v-card-text class='py-0'>
            <v-row align='center' no-gutters>
              <v-col cols='12' class='text-center'>
                <v-icon
                    color='primary'
                    :icon='getGender'
                    size='88'
                ></v-icon>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-btn color='primary' block @click='chatMe(selectedUser.userName)'>
              Напиши мне
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-container>

</template>

<script>
import axios from 'axios';
import {useRoute} from 'vue-router';
import {useTheme} from 'vuetify';

export default {
  name: 'home-page',
  data() {
    return {
      selectedFavorForAppointments: null,
      selectedItems: [],
      paid: false,
      route: useRoute(),
      writeUserModal: false,
      phoneNumber: '',
      phoneNumberRules: [
        value => {
          if (/^(\+7|8)\d{10}$/.test(value)) return true

          return 'Введи номер телефона в формате 89991234567 или +79991234567'
        },
      ],
      deleteModal: false,
      showModal: false,
      showUserModal: false,
      selectedUser: {},
      appointmentToEdit: null,
      appointmentToDelete: null,
      appointmentToWriteUser: null,
      api_url: process.env.VUE_APP_API_URL + '/api',
      itemsPerPageDefaultOption: [
        {value: 5, title: '5'},
        {value: 10, title: '10'},
        {value: 25, title: '25'},
        {value: 50, title: '50'}],
      itemsPerPage: 5,
      headers: [
        {align: 'start', value: 'data-table-select'},
        {title: 'Информация', align: 'center', key: 'userId'},
        {title: 'Время визита', align: 'center', key: 'visitDateTime'},
        {title: 'Действия', align: 'center', key: 'actions', sortable: false},
        {title: 'Услуга', align: 'center', key: 'type', sortable: false}
      ],
      serverItems: [],
      loading: true,
      totalItems: 0,
      name: '',
      visitDateTime: '',
      search: '',
      favors: []
    }
  },
  watch: {
    name(val) {
      this.search = val
    },
    visitDateTime(val) {
      this.search = val
    },
  },
  computed: {
    getGender() {
      if (this.selectedUser.sex === 'MALE') {
        return '$man'
      } else {
        return '$woman'
      }
    }
  },
  methods: {
    async updateAppointmentsFavor(item) {
      await axios.post(`${this.api_url}/favor/set-to-appointment`, {
        appointmentId: item.id,
        favorId: item.favor?.id
      })
          .then(response => {
            const index = this.serverItems.findIndex(appointmentInItems => appointmentInItems.id === response.data.id);
            this.serverItems.splice(index, 1, response.data)
          })
    },
    async updateSelectedAppointmentsFavor() {
      const ids = this.selectedItems.map(app => app.id);
      await axios.post(`${this.api_url}/favor/set-to-selected-appointments`, {
        appointmentIds: ids,
        favorId: this.selectedFavorForAppointments?.id
      })
          .then(response => {
            response.data.forEach(app => {
              const index = this.serverItems.findIndex(appointmentInItems => appointmentInItems.id === app.id);
              this.serverItems.splice(index, 1, app);
            })
          })
          .catch(error => console.log(error))
    },
    async getAppointments({page, itemsPerPage, sortBy, search}) {
      this.loading = true
      let sortKey = sortBy[0]?.key === undefined ? '' : sortBy[0]?.key;
      let isDescending = sortBy[0]?.order !== 'asc';
      itemsPerPage = itemsPerPage === -1 ? 1 : itemsPerPage;
      await axios.get(this.api_url + `/appointments/paged?startRow=${page - 1}&count=${itemsPerPage}&sortBy=${sortKey}&filter=${search}&isDescending=${isDescending}`)
          .then(response => {
            this.serverItems = response.data.content
            this.totalItems = response.data.totalElements

            this.loading = false
          })
    },
    editAppointment(item) {
      this.showModal = true;
      const visitDateTime = item.visitDateTime
      this.appointmentToEdit = {
        id: item.id,
        visitDateTime: `${visitDateTime}`,
        userId: item.userId
      }
    },
    async updateAppointment() {
      const result = this.appointmentToEdit.visitDateTime.replaceAll('T', ' ');

      const jsonToSend = {
        id: this.appointmentToEdit.id,
        visitDateTime: result,
        userId: this.appointmentToEdit.userId
      }
      let response = await axios.put(`${this.api_url}/appointments/${this.appointmentToEdit.id}`, jsonToSend)
          .catch(() => {
            alert('Выберите другую дату или время')
          })

      if (response) {
        location.reload()
      }
      this.showModal = false;
    },
    openDeleteModal(item) {
      this.deleteModal = true;
      this.appointmentToDelete = item
    },
    openWriteUserModal(item) {
      this.writeUserModal = true
      this.appointmentToWriteUser = item
    },
    closeWriteUserModal() {
      this.writeUserModal = false
      this.phoneNumber = ''
    },
    isWritable(item) {
      const appointmentDateTime = new Date(item.visitDateTime);
      return item.userId !== -1 || appointmentDateTime < new Date();
    },
    async writeUser() {
      if (/^(\+7|8)\d{10}$/.test(this.phoneNumber)) {
        await axios.post(`${this.api_url}/appointments/write_guest`, {
          appointmentId: this.appointmentToWriteUser.id,
          phoneNumber: this.phoneNumber
        }).then(() => {
          location.reload()
        })
            .catch(error => {
              console.log(error);
            })
      }
    },
    async deleteAppointment() {
      const index = this.serverItems.findIndex((a) => a.id === this.appointmentToDelete.id);
      await axios.delete(`${this.api_url}/appointments/${this.appointmentToDelete.id}`)
          .then(response => {
            if (response.status === 205) {
              this.serverItems.splice(index, 1, {
                id: this.appointmentToDelete.id,
                userId: -1,
                visitDateTime: this.appointmentToDelete.visitDateTime
              });
            } else if (response.status === 204) {
              this.serverItems.splice(index, 1)
            }
          })
          .catch(error => console.log(error))

      this.deleteModal = false;
    },
    async deleteSelectedAppointments() {
      const ids = this.selectedItems.map(app => app.id);
      await axios.delete(`${this.api_url}/appointments/deleteSelected`, {data: ids})
          .then(() => {
            location.reload()
          })
          .catch(error => console.log(error))
    },
    async showUserInfo(userId) {
      this.showUserModal = true;
      await axios.get(`${this.api_url}/users/${userId}`)
          .then(response => this.selectedUser = response.data)
          .catch(error => console.log(error))
    },
    chatMe(userName) {
      const url = `https://t.me/${userName}`
      window.open(url, '_blank')
    },
    async fetchFavors() {
      await axios.get(`${this.api_url}/favor/find-all`)
          .then(response => {
            this.favors = response.data
          })
          .catch(error => console.log(error))
    },
  },
  async created() {
    window.Telegram.WebApp.ready();

    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
    window.Telegram.WebApp.enableClosingConfirmation();

    await axios
        .get(`${this.api_url}/admin/${this.route.params.hash}`)
        .then(response => {
          this.paid = response.data.paid;
          this.$store.dispatch('setAdminData', response.data.hash)
        })
        .catch(error => {
          console.log(error + ', пользователь не существует')
        })
    await this.fetchFavors()
  },
}
</script>


<style scoped>

</style>