<template>
  <v-container v-if='paid' fluid>
    <v-row class='ma-3 justify-center text-h4'>Информация</v-row>
    <v-sheet class='mx-auto'>
      <v-form fast-fail @submit.prevent='saveInfo()'>
        <v-text-field
            v-model='address'
            label='Адрес'
            :rules='addressRules'
        ></v-text-field>

        <v-text-field
            v-model='phoneNumber'
            label='Номер телефона'
            :rules='phoneNumberRules'
        ></v-text-field>

        <v-text-field
            v-model='services'
            label='Перечень услуг'
            disabled
        ></v-text-field>

        <v-btn type='submit' block class='mt-2'>Сохранить</v-btn>
      </v-form>
    </v-sheet>

    <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
    >
      {{ message }}

      <template v-slot:actions>
        <v-btn
            color="success"
            variant="text"
            @click="snackbar = false"
        >
          Закрыть
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import axios from 'axios';
import {useTheme} from 'vuetify';
import {useRoute} from 'vue-router';

export default {
  name: 'info-page',
  data() {
    return {
      snackbar: false,
      timeout: 5000,
      message: '',
      route: useRoute(),
      ownerInfo: {},
      paid: false,
      api_url: process.env.VUE_APP_API_URL + '/api',
      address: '',
      addressRules: [
        value => {
          if (value?.length > 0) return true

          return 'Введи адрес'
        },
      ],
      phoneNumber: '',
      phoneNumberRules: [
        value => {
          if (value?.length > 0) return true

          return 'Введи номер телефона'
        },
      ],
      services: '',
    }
  },
  async mounted() {
    window.Telegram.WebApp.ready();

    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
    window.Telegram.WebApp.enableClosingConfirmation();
    await axios
        .get(`${this.api_url}/admin/${this.route.params.hash}`)
        .then(response => {
          this.paid = response.data.paid;
          this.$store.dispatch('setAdminData', response.data.hash)
        })
        .catch(error => {
          console.log(error + ', пользователь не существует')
        })

    await axios.get(`${this.api_url}/owner_info/get`)
        .then(response => {
          this.ownerInfo = response.data;
          this.address = response.data.address
          this.phoneNumber = response.data.phoneNumber
        })

    await axios.get(`${this.api_url}/favor/find-all`)
        .then(response => {
          this.services = response.data.map(favor => favor.name)
        })
        .catch(error => console.log(error))

  },
  methods: {
    saveInfo() {
      this.ownerInfo.address = this.address
      this.ownerInfo.phoneNumber = this.phoneNumber
      this.ownerInfo.services = this.services.join(', ')
      if (this.address && this.phoneNumber && this.services) {
        axios.post(`${this.api_url}/owner_info/update`, this.ownerInfo)
            .then(response => {
              this.snackbar = true
              this.message = 'Информация успешно обновлена'
              this.address = response.data.address
              this.phoneNumber = response.data.phoneNumber
              this.services = response.data.services
            })
            .catch(error => {
              console.log(error);
            });
      }
    },
  }
}
</script>


<style scoped>

</style>