<template>
  <v-layout class='rounded rounded-md'>
    <v-app-bar title='Панель администратора'>
      <v-spacer></v-spacer>

      <v-btn variant='text' icon='$home' :to='links.at(0).url + getAdminData'></v-btn>
      <v-btn variant='text' icon='$calendar' :to='links.at(1).url + getAdminData'></v-btn>
      <v-btn variant='text' icon='$mail' :to='links.at(2).url + getAdminData'></v-btn>
      <v-btn variant='text' icon='$info' :to='links.at(3).url + getAdminData'></v-btn>
      <v-btn variant='text' icon='$service' :to='links.at(4).url + getAdminData'></v-btn>

    </v-app-bar>

    <v-main class='d-flex align-center justify-center' style='min-height: 300px;'>
      <router-view/>
    </v-main>
  </v-layout>
</template>

<script>
import {links} from '@/_config.js'

export default {
  name: 'App',
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL + '/api/pay',
      links: links,
      paid: false,
      hash: ''
    }
  },
  computed: {
    getAdminData() {
      return this.$store.getters.getAdminData;
    },
  }
}
</script>

<style>
</style>
